<link rel="import" href="console-input-element.html">
<link rel="import" href="console-output-element.html">
<link rel="import" href="console-doc-element.html">

<dom-module id="console-element">

	<template>
		<style>
			:host div {
				position: absolute;
				/*left: 0;*/
				top: 200px;
				width: 800px;
				height: 200px;
				outline: 1px solid black;
				/*margin: 0, auto;*/

			}
		</style>
		<div>
			<console-output-element></console-output-element>
			<console-input-element></console-input-element>
			<console-doc-element></console-doc-element>
		</div>
	</template>

	<script>

		Polymer({
			is: "console-element",

			properties: {

			}
		});
	</script>

</dom-module>
