<link rel='import' href='console-output-members-card-element.html'>

<dom-module id='console-output-members-element'>

	<template>
		<style>
		:host {

		}

		</style>
		<!-- console-output-members-element -->
		<div class='container'>

		</div>
	</template>

	<script>

		Polymer({
			is: 'console-output-members-element',

			properties: {
				members: {
					type: Array,
					value: [
						{
							name: 'aa',
							age: 12,
							hobby: 'programming',
							img: ''
						},
						{
							name: 'bb',
							age: 15,
							hobby: 'programming2',
							img: ''
						},
						{
							name: 'cc',
							age: 17,
							hobby: 'programming3',
							img: ''
						}
					]
				}
			},

			ready: function() {
				var that = this,
					el;

				this.members.forEach(function(m) {
					el = document.createElement('console-output-members-card-element');
					el.name = m.name;
					el.age = m.age;
					el.hobby = m.hobby;
					el.img = m.img;
					that.$$('.container').appendChild(el);
				});
				

			}
		});
	</script>

</dom-module>