<dom-module id='console-output-members-card-element'>

	<template>
		<style>
		:host {

		}

		:host .container {
			display: inline-block;
			border: 1px solid #EEEEEE;
			background-color: #EAEAEA;
			width: 23%;
		}

		:host .main-part {
			display: inline-block;
			height: 36px;
		}

		</style>
		<!-- console-output-members-card-element -->
		<div class='container'>
			<div><img style="width: 128px; height: 128px" src={{img}}></div>
			<div>{{name}} / {{age}}</div>
			<div class='main-part'>{{mainPart}}</div>
		</div>
	</template>

	<script>

		Polymer({
			is: 'console-output-members-card-element',

			properties: {
				img: String,
				name: String,
				age: Number,
				mainPart: String
			},

			ready: function() {
				
			}
		});
	</script>

</dom-module>