<dom-module id='console-doc-element'>

	<template>
		<style>
		:host div {
			position: absolute;
			top: 0;
			right: 0;
			width: 30%;
			height: 100%;
			background-color: green;
			color: white;
		}
		:host .cmdlist {
			margin-left: 5px;
			font-size: 20px;
		}
		:host ul {
			margin-top: 5px;
			padding-left: 20px;
		}
		:host li {
			margin: 5px;
			font-size: 15px;
		}

		</style>
		<div><span class="cmdlist">cmd list</span>
			<ul class="doc-ul">
				<li>members: show members.</li>
				<li>knowre: show company info.</li>
				<li>team: show team info.</li>
				<li>where: where we are.</li>
				<li>clear: screen clear.</li>
				<li>sendMail: link dev@knowre.com</li>

			</ul>
		</div>
	</template>

	<script>

		Polymer({
			is: 'console-doc-element',

			properties: {

			}
		});
	</script>

</dom-module>
