<dom-module id="console-input-element">

	<template>
		<style>
		:host div {
			background-color: blue;
			color: white;
		}
		</style>
		<div>
			<label>Type command : </label><input value="{{cmdValue::input}}" on-keydown="sendByEnter">
			<button on-tap="sendTap" >SEND</button>
		</div>

	</template>

	<script>

		Polymer({
			is: "console-input-element",

			sendTap: function(e){
				this.sendCmd(this.cmdValue);
			},
			sendByEnter: function (e) {
				if (e.keyCode === 13) {
					this.sendCmd(this.cmdValue);
				}
			},
			sendCmd: function(cmdValue) {
				//TODO: need to mock Service.
				console.log('I GOT the '+cmdValue);

				document.querySelector('console-output-element').fire('fire', {result: cmdValue});
				this.cmdValue = '';
			},
			properties: {
				cmdValue: String,
			}

		});
	</script>

</dom-module>