<link rel='import' href='console-output-members-card-element.html'>

<dom-module id='console-output-members-element'>

	<template>
		<style>
		:host {

		}

		</style>
		<!-- console-output-members-element -->
		<div class='container'>

		</div>
	</template>

	<script>

		Polymer({
			is: 'console-output-members-element',

			properties: {
				members: {
					type: Array,
					value: [
						{
							name: 'Homer',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Android Developer',
							img: faker.image.avatar()
						},
						{
							name: 'Woomin',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'iOS Developer',
							img: faker.image.avatar()
						},
						{
							name: 'Kin',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'iOS Developer',
							img: faker.image.avatar()
						},
						{
							name: 'TaeYeon',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Android Developer',
							img: faker.image.avatar()
						},
						{
							name: 'WooSeok',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Server',
							img: faker.image.avatar()
						},
						{
							name: 'Kyuchang',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Client',
							img: faker.image.avatar()
						},
						{
							name: 'WoongKi',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'iOS Developer',
							img: faker.image.avatar()
						},
						{
							name: 'JaeWon',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Client',
							img: faker.image.avatar()
						},
						{
							name: 'Marian',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Android Developer',
							img: faker.image.avatar()
						},
						{
							name: 'Seungkun',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Server',
							img: faker.image.avatar()
						},
						{
							name: 'Seunghun',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Client',
							img: faker.image.avatar()
						},
						{
							name: 'Seungyun',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'CTO',
							img: faker.image.avatar()
						},
						{
							name: 'Seongjae',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Server',
							img: faker.image.avatar()
						},
						{
							name: 'Sukkyu',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Web Server',
							img: faker.image.avatar()
						},
						{
							name: 'Sunghwan',
							age: (Math.random() * 10 + 26).toFixed(0),
							'main-part': 'Core',
							img: faker.image.avatar()
						}
					]
				}
			},

			ready: function() {
				var that = this,
					el;

				this.members.forEach(function(m) {
					el = document.createElement('console-output-members-card-element');
					el.name = m.name;
					el.age = m.age;
					el.mainPart = m['main-part'];
					el.img = m.img;
					that.$$('.container').appendChild(el);
				});
				

			}
		});
	</script>

</dom-module>