<link rel='import' href='console-input-element.html'>
<link rel='import' href='console-output-element.html'>
<link rel='import' href='console-doc-element.html'>

<dom-module id='console-element'>

    <template>
        <style>
			:host {
				position: absolute;
				top: 20%;
				left: 20%;
				width: 60%;
				height: 60%;
				background-color: #EAEAEA;
			}
        </style>
        <console-output-element></console-output-element>
        <console-doc-element></console-doc-element>
        <console-input-element></console-input-element>

    </template>

    <script>

        Polymer({
            is: 'console-element',

            properties: {}
        });
    </script>
</dom-module>
