<link rel='import' href='console-output-members-element.html'>
<link rel='import' href='console-output-teaminfo-element.html'>
<link rel='import' href='console-output-companyinfo-element.html'>

<dom-module id='console-output-element'>

	<template>
		<style>
			:host {
				position: absolute;
				top: 0;
				left: 0;
				width: 75%;
				height: 100%;
				margin: 0;
				overflow: scroll;
			}

		</style>
		<!--<console-output-members-element></console-output-members-element>-->
		<console-output-teaminfo-element></console-output-teaminfo-element>
		<console-output-companyinfo-element></console-output-companyinfo-element>
		<div class="output-content">console-output-element</div>
	</template>

	<script>

		Polymer({
			is: 'console-output-element',

			properties: {

			}
		});
	</script>

</dom-module>
