<dom-module id='console-output-teaminfo-element'>

	<template>
		<style>
		:host {

		}

		:host .container {
			background-color: #EAEAEA;
		}
		</style>
		<!-- console-output-teaminfo-element -->
		<pre class='container'>

		</pre>
	</template>

	<script>

		Polymer({
			is: 'console-output-teaminfo-element',

			properties: {
				teaminfo: {
					type: Object,
					value: {
						name: 'team-info',
						value: {
							goals: '',
							techiques: 'Android/iOS, Web Server/Client, DevOps',
							advance: {
								activity: {
									devDay: 'do some hackerthon'
								},
								welfare: [

								]
							}
						}
					}
				}
			},
			ready: function () {
				this.$$('.container').innerHTML = JSON.stringify(this.teaminfo, undefined, 4);
			}
		});
	</script>

</dom-module>