<link rel='import' href='console-output-members-element.html'>
<link rel='import' href='console-output-teaminfo-element.html'>
<link rel='import' href='console-output-companyinfo-element.html'>

<dom-module id='console-output-element'>

	<template>
		<style>
			:host {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 30px;
				width: 70%;
				height: calc(100% - 30px);
				margin: 0;
				overflow-y: auto;
			}

		</style>
		<div>Enjoy your Knowre!</div>
	</template>

	<script>

		Polymer({
			is: 'console-output-element',

			properties: {

			},

			ready: function () {
				var elememtList = ['members', 'knowre', 'team'],
					that = this;

				this.addEventListener('fire', function (e) {
					var cmd = e.detail.result;
					if (elememtList.includes(cmd)) {
						var domName = cmd;
						if (domName === 'knowre') {
							domName = 'companyinfo';
						} else if (domName === 'team') {
							domName = 'teaminfo';
						} else if (domName === 'members') {
							domName = 'members';
						}
						that._appendCmd(cmd);

						var node = document.createElement('console-output-'+domName+'-element');
						Polymer.dom(this.root).appendChild(node);
					} else if (cmd === 'clear') {
						var dom  = Polymer.dom(this.root);
						while (dom.firstChild){
							dom.removeChild(dom.firstChild);
						}
					} else if (cmd === 'sendMail') {
						that._appendCmd(cmd);

						var toLocal = document.createElement('a');
						toLocal.href = 'mailto:dev@knowre.com';
						toLocal.innerHTML = 'Welcome to Knowre! : dev@knowre.com';
						Polymer.dom(this.root).appendChild(toLocal);
					} else if (e.detail.result === 'where') {
						var toLocal = document.createElement('a');
						toLocal.href = 'http://dmaps.kr/23zbu';
						toLocal.target="_blank";
						toLocal.innerHTML = '서울 강남구 테헤란로8길 21 (우) 06234(지번) 역삼동 823-14 7층';
						Polymer.dom(this.root).appendChild(toLocal);
					} else {
						that._appendCmd(cmd);

						var toLocal = document.createElement('div')
						toLocal.innerHTML = 'Error command. Sorry Try Again!';
						Polymer.dom(this.root).appendChild(toLocal);

					}
				});
			},
			_appendCmd: function(cmd) {
				var el = document.createElement('div');
				el.innerHTML = ' > ' + cmd;
				Polymer.dom(this.root).appendChild(el);
			}
		});
	</script>

</dom-module>
