<dom-module id='footer-element'>

	<template>
		<style>
		:host .footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			background-color: #e4e4e4;
			color: #666;
		}

		:host .footer-container {
			position: absolute;
			top: 10px;
			left: 20px;
		}
		</style>
		<div class="footer">
			<div class="footer-container">© 2016 Knowre · All Rights Reserved — Math. We'll get you there</div>
		</div>
	</template>

	<script>

		Polymer({
			is: 'footer-element',

			properties: {

			}
		});
	</script>

</dom-module>
